.match-data{
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}
.data-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 10px;
}
.data{
    display: flex;
    justify-content: space-between;
}
.match-sidebar{
    height: 48vh;
}
.hero-info{
    border: 1px solid #a52125;
    padding: 4rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
}
.hero-image{
    height: 200px;
    object-fit: contain;
    margin: 2rem 0 2rem 0;
}
.match-comments{
    background-color: rgba(128, 128, 128, 0.274);
    padding: 2rem;
    margin:0 4rem;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 1px rgb(46, 43, 44);;
}
.match-result{
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
}
.duration{
    margin-bottom: 2rem;
}
.match-win{
    background-image: linear-gradient(0.5turn, #effff0, #09bb12);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.match-loss{
    background-image: linear-gradient(0.5turn, #c7352a, #380404);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.inventory{
    border: 1px solid #a52125;
    display: flex;
    justify-content: space-evenly;
}
.items{
    display: flex;
    flex-direction: column;
}
.active-items{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: auto auto auto;
}
.item-img{
    height: 60px;
}
.backpack-items{
    display: grid;
    grid-column: 3;
    grid-row: 1;
}
.backpack{
    height: 46px;
    overflow: hidden;
    filter: grayscale(100%);
}
.backpack .pack{
    position: absolute;
    top: -12.5%;
}
.empty_backpack{
    height: 46px;
    filter: grayscale(100%);
}
.inv-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.neutral-item{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
