ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #ca2529;
  box-shadow: 4px 2px 5px gray;
  color: white;
  padding: 0.5rem 1rem;
}

.navBar button {
  background: transparent;
  border: 2px solid #f6d0d1;
  color: #f6d0d1;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: #f6d0d1;
  color: #ca2529;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
